* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: MyriadPro Regular;
    color: #40310a;
    overflow-x: hidden;
}

section {
    padding: 0 12%;
    text-align: center;
}

h1,
h2,
h3,
h4 {
    font-size: inherit;
    font-family: "MyriadPro Regular";
    letter-spacing: inherit;
}

a {
    width: 100%;
    color: inherit;
    outline: none;
    text-decoration: none;
    letter-spacing: inherit;
}

p {
    letter-spacing: inherit;
}

.ls20 {
    letter-spacing: 0.02em;
}

.ls50 {
    letter-spacing: 0.05em;
}

.f12 {
    font-size: 0.75rem;
}

.f13 {
    font-size: 0.8125rem;
}

.f15 {
    font-size: 0.9375rem;
}

.f18 {
    font-size: 1.125rem;
}

.f20 {
    font-size: 1.25rem;
}

.f24 {
    font-size: 1.5rem;
}

.f28 {
    font-size: 1.75rem;
}

.f32 {
    font-size: 2rem;
}

.f36 {
    font-size: 2.25rem;
}

.f40 {
    font-size: 2.5rem;
}

.bold {
    font-family: MyriadPro Bold;
    font-weight: 700;
}

.semibold {
    font-family: MyriadPro Semibold;
}

.italic {
    font-family: MyriadPro Italic;
}

.italic_bold {
    font-family: MyriadPro Bold Italic;
}

.blue {
    color: #0cb3f9;
}

.white {
    color: #ffffff;
}

.logo_font {
    font-family: Nunito;
    font-weight: 700;
    letter-spacing: -0.05rem;
    line-height: 0.75;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.nav_container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: stretch;
    width: 100%;
    padding: 15px 0px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.nav_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    margin: 5px;
}

.nav_item_button {
    background-color: #24f942;
    padding: 10px 20px;
    border-radius: 50px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    cursor: pointer;
}

.payment_item .nav_item_name {
    text-align: left;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 205px;
}

.nav_item_name {
    text-align: left;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 155px;
}

.button_icon {
    margin: 0 10px 0 0;
}

.nav_section {
    border-bottom: 3px solid #eeeeee;
}

.credit_section {
    padding: 50px 23% 50px 12%;
    padding-right: 23%;
    background-image: url(../img/credit_section_bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.credit_app {
    background-color: #ffffff;
    border-radius: 20px;
    margin: 50px 0;
    padding-top: 20px;
}

.requirements_section {
    padding-top: 25px;
    padding-bottom: 50px;
}

.question {
    display: inline-block;
    padding-bottom: 25px;
}


.question_container {
    /*    height: 100px;*/
    width: auto;
    margin-top: 25px;
    margin-bottom: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.requirements_question_wrapper {
    position: relative;
}

.requirements_question_wrapper:after {
    content: "Вы можете получить кредит уже через 5 минут, если";
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    top: 100%;
    z-index: -1;
    padding-top: 15px;
    background: url('../img/shadow.png') no-repeat;
    background-size: auto;
    background-position: center;
    font-size: 0.75rem;
    border-radius: 0px 0px 100px 100px;

}

.client_question_wrapper {
    position: relative;
}

.client_question_wrapper:after {
    content: "Мы создали лучший сервис для Вас";
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    top: 100%;
    z-index: -1;
    padding-top: 15px;
    background: url('../img/shadow1.png') no-repeat;
    background-size: auto;
    background-position: center;
    font-size: 0.75rem;
    border-radius: 0px 0px 100px 100px;

}

.requirements_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-preferred-size: 250px;
    flex-basis: 250px;
}

.requirements_container {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 25px;
}

.requirements_item_text {
    margin: 10px 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.requirements_item_icon {
    margin: 20px 0;
}

.advantage_container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.advantage_icon {
    margin: 10px 15px;
}

.client_item_title {
    margin-bottom: 25px;
}

.client_item {
    padding: 10px 10px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    margin: 20px 20px;
    position: relative;
    -ms-flex-preferred-size: 330px;
    flex-basis: 320px;
}

.client_item:after {
    top: 100%;
    content: "";
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 125%;
    height: 100%;
    z-index: -1;
    padding-top: 15px;
    background: url('../img/shadow1.png') no-repeat;
    background-size: contain;
    border-radius: 0px 0px 100px 100px;
}

.client_item:first-child:before {
    content: "";
    position: absolute;
    left: 100%;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: url('../img/shadow_vertical.png') no-repeat;

    background-size: contain;
}

.client_container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.green_button {
    display: inline-block;
    width: auto;
    margin: 40px 0 70px 0;
    background-color: #24f942;
    padding: 10px 25px;
    border-radius: 50px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 0.05rem;
    font-weight: 700;
    cursor: pointer;
}

.steps_container {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 20px 0px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.steps_item_icon {
    height: 160px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.steps_item {
    -ms-flex-preferred-size: 190px;
    flex-basis: 200px;
    margin: 10px 20px;
}

.steps_item:nth-child(even) {
    -ms-flex-preferred-size: 50px;
    flex-basis: 50px;
}

.steps_question_wrapper {
    position: relative;
}

.steps_question_wrapper:after {
    content: "";
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    top: 100%;
    z-index: -1;
    padding-top: 15px;
    background: url('../img/shadow1.png') no-repeat;
    background-size: auto;
    background-position: center;
    font-size: 0.75rem;
    border-radius: 0px 0px 100px 100px;

}

.steps_item_title {
    margin: 15px 0px;
}

.slogan {
    font-family: MyriadPro Italic;
    margin: 70px 0 30px 0;
    padding: 0 5%;
}

.slogan span {
    font-family: MyriadPro Bold Italic;
}

.video_background {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video_container {
    position: relative;
    padding: 200px 0 120px 0;
}

.video_section {
    background-image: url(../img/video_section_bg.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    position: relative;
}

.video_section:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(63, 196, 255, 0.65);
}

.video_button {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 3px solid white;
    border-radius: 500px;
    background-image: url(../img/play_button.png);
    background-repeat: no-repeat;
    background-position: 55% center;
    background-size: 50%;
    cursor: pointer;
}

.video_text {
    margin: 40px 0;
    font-size: 2.25rem;
}

.mail_container {
    text-align: left;
    display: inline-block;
    width: 470px;
}

.mail_wrapper {
    padding: 200px 0;
    z-index: 5;
    position: relative;
}

.mail_section {
    background-image: url(../img/mail_section_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 20%;
    position: relative;
}

.mail_input {
    height: 100%;
    width: 85%;
    border: none;
    border-radius: 2px 0px 0px 2px;
    padding: 0% 15px;
}

.mail_button {
    background-color: #0cb3f9;
    width: 15%;
    height: 100%;
    border-radius: 0 2px 2px 0;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}

.input_container {
    margin: 20px 0;
    height: 60px;
}

.map_item {
    text-align: left;
    margin: 20px;
}

.map_item p {
    margin: 5px 0;
}

.map_section {
    background-color: #0cb3f9;
    padding: 20px 12%;
    letter-spacing: 0.05rem;
    word-spacing: 0.1rem;
}

.map_item_title {
    margin-bottom: 20px;
    text-transform: uppercase;
}

.map_container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.number_item {
    text-align: left;
    margin: 10px 0;
    margin-right: 10px;
    min-width: 185px;
}

.number_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 40px 20px;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
}

.number_icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 10px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}



.social_section {
    background-color: #00afe6;
    padding: 20px 0;
}

.logo_small_font {
    font-family: 'Rotonda Bold';
}

.payment_item {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 50px;
    margin: 10px;
}

.payment_icon img {
    height: 40px;
}

.payment_container {
    width: 65%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.social_container {
    padding: 0 12%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.media_item {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border: 1px solid white;
    border-radius: 500px;
    margin: 10px;
}

.contact_section {
    padding: 50px 12%;
}

.contact_item {
    text-align: left;
    margin: 20px 0 0 0;
}



.credit_title {
    padding-left: 50px;
    margin: 20px 0;
    text-align: left;
    font-size: 2rem;
}

.info_item {
    margin: 5px 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: left;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.info_title {
    margin-bottom: 10px;
    text-align: left;
}

.app_item {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.app_item:first-child {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
    position: relative;
}

.app_item:first-child:before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/shadow.png);
    background-repeat: no-repeat;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-size: contain;
}

.app_item:first-child:after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/shadow_vertical.png);
    background-repeat: no-repeat;
    left: 100%;
    z-index: 2;
    background-size: auto;
}

.app_item:nth-child(2) {
    overflow: hidden;
}


.info {
    padding: 0 30px 10px 30px;
    width: 95%;
    z-index: 2;
}

.info:first-child {
    z-index: 1;
    -webkit-box-shadow: -15px 5px 30px 0px #e0e0e0;
    box-shadow: -15px 5px 30px 0px #e0e0e0;
}

.info:nth-child(2) {
    padding-top: 20px;
    width: 95%;
}

.app_button {
    padding: 15px 25px;
    background-color: #0cb3f9;
    border-radius: 100px;
    min-width: 210px;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}

.app_button_wrapper {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 25px 0;
    z-index: 2;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.credit_controler_item {
    margin: 15px 0;
    z-index: 1;
}

input[type=range] {
    cursor: pointer;
}

.credit_controler_container {
    padding: 50px 40px;
}

.range_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.credit_range {
    width: 100%;
}

.range_wrapper {
    width: 80%;
    margin-right: 10px;
    overflow: hidden;
}

.range_money_info {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 0.625rem;
}

.range_value_item {
    width: 60px;
    height: 25px;
    margin-right: 5px;
    border: 2px solid #0cb3f9;
    border-radius: 3px;
    font-size: 1rem;
    text-align: center;
    z-index: 2;
}

.units_wrapper {
    margin-top: 4px;
    width: 25px;
    text-align: left;
}

.mail_title {
    font-size: 2.25rem;
}

.mail_text {
    font-size: 1.5rem;
}

.media_container {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}
